<%- include('./partials/head') %>
<%- include('./partials/navbar') %>

<section class="section">
    <div class="container">
      <h1 class="title">
        Hello 
      </h1>
      <p class="subtitle">
        I am a splash page

        Login!
      </p>
    </div>
  </section>
  </body>
</html>